version: "3.2"

services:
  fm:
    build:
      context: filebrowser
      dockerfile: Dockerfile
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=public"
        - "traefik.http.routers.filebrowser.rule=Host(`vtt.n1xx1.me`) && PathPrefix(`/$PREFIX/fm`)"
        - "traefik.http.routers.filebrowser.entrypoints=https"
        - "traefik.http.routers.filebrowser.tls=true"
        - "traefik.http.routers.filebrowser.tls.certresolver=le"
        - "traefik.http.routers.filebrowser.service=filebrowser"
        - "traefik.http.services.filebrowser.loadbalancer.server.port=30000"
    volumes:
      - data:/data
      - config:/config
    environment:
      - FB_BASEURL=/$PREFIX/fm
      - FB_ROOT=/data/Data
      - FB_REAL_PASSWORD=$ADMIN_PASSWORD
    restart: always

  vtt:
    image: felddy/foundryvtt:9
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=public"
        - "traefik.http.routers.vtt.rule=Host(`vtt.n1xx1.me`) && PathPrefix(`/$PREFIX`)"
        - "traefik.http.routers.vtt.entrypoints=https"
        - "traefik.http.routers.vtt.tls=true"
        - "traefik.http.routers.vtt.tls.certresolver=le"
        - "traefik.http.routers.vtt.service=vtt"
        - "traefik.http.services.vtt.loadbalancer.server.port=30000"
    volumes:
      - data:/data
      - foundry-cache:/container_cache
    environment:
      - FOUNDRY_ROUTE_PREFIX=$PREFIX
      - FOUNDRY_ADMIN_KEY=$ADMIN_PASSWORD
      - CONTAINER_CACHE=/container_cache
      - FOUNDRY_UID=root
      - FOUNDRY_GID=root
      - FOUNDRY_USERNAME
      - FOUNDRY_PASSWORD
      - FOUNDRY_LICENSE_KEY
      - FOUNDRY_MINIFY_STATIC_FILES=true
      - FOUNDRY_PROXY_PORT=80
    restart: always

networks:
  public:
    external: true

volumes:
  data: null
  config: null
  foundry-cache:
    external: true
